<h1 class="mt-5 border-bottom">Selectores anidados</h1>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="mb-3">
        <label for="region" class="form-label">Continente</label>
        <select id="region" formControlName="region" class="form-select">
            <option value="" selected>-Seleccionar-</option>
            <option *ngFor="let region of regiones" [value]="region | lowercase">{{ region }}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="pais" class="form-label">País</label>
        <select id="pais" formControlName="pais" class="form-select">
            <option value="" selected>-Seleccionar-</option>
            <option *ngFor="let pais of paises" [value]="pais.alpha3Code">{{ pais.name }}</option>
        </select>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>

<div class="mt-5">
    <h3>Formulario</h3>
    <pre><strong>valid: </strong>{{ miFormulario.valid }}</pre>
    <pre>{{ miFormulario.value| json }}</pre>
</div>